{% extends 'Base.html.twig' %}
{% block AjouterOffre %}
    <section id="reservation" class="reservation_section bg-grey">
        <div class="container padding">
            <div class="col-sm-10 col-sm-offset-1 align-left">
                <div class="reserv_form">
                    <div class="section_heading mb-40">
                        <h2>Donner votre offre</h2>
                        <br>
                        {{ form_start(form) }}
                        {{ form_row(form.offre,{'label':'Nom'}) }}
                        <br>
                        {{ form_row(form.dateDebut,{'label':'Date début'}) }}
                        <br>
                        {{ form_row(form.dateFin,{'label':'Date fin'}) }}
                        <br>
                        {{ form_row(form.description) }}
                        <br>
                        {{ form_row(form.Ajouter,{'label':'Ajouter'}) }}
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}