<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<!-- Mirrored from wowthemez.com/templates/hangout/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Feb 2018 22:44:44 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="AlexaTheme">

    <title>Tunisie Bons Plans</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/main/img/digi.png')}}">

    <!-- Elegant Font Icons CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/main/css/elegant-font-icons.css')}}">
    <!-- Elegant Line Icons CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/main/css/elegant-line-icons.css')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/main/css/bootstrap.min.css')}}">
    <!-- animate CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/main/css/animate.min.css')}}">
    <!-- Venobox CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/main/css/venobox/venobox.css')}}">
    <!-- OWL-Carousel CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/main/css/owl.carousel.css')}}">
    <!-- Slick Nav CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/main/css/slicknav.min.css')}}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/main/css/main.css')}}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/main/css/responsive.css')}}">

    <script src="{{ asset('bundles/main/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id='preloader' >
    <div class='loader' >
        <img src="{{ asset('bundles/main/img/.gif') }}" width="80" alt="">
    </div>
</div><!-- Preloader -->

<header id="header" class="header_section">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">

            </div>
            <div id="navbar" class="navbar-right">
                <ul id="mainmenu" class="nav navbar-nav nav-menu">
                    <li><a href="{{ path('main_homepage')}}">Acceuil <span class="sr-only">(current)</span></a>
                    </li>
                    <li><a href="{{ path('a_propos') }}">A Propos</a></li>
                    <li><a href="{{ path('main_homepage')}}">Actualités</a>
                        <ul>
                            <li><a href="{{ asset('bundles/main/events.html')}}">Evenements</a></li>
                            <li><a href="{{ asset('bundles/main/coming_soon.html')}}">Nouveautés</a></li>
                        </ul>

                    </li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav><!-- Navigation Bar -->
</header> <!-- Header_Section -->

{% block contact %}
{% endblock %}

{% block apropos %}
{% endblock %}

{% block login %}
{% endblock %}

<div class="sponsor_section bg-grey">
    <div class="container">
        <ul id="sponsor_carousel" class="sponsor_items owl-carousel">
            <li class="sponsor_item">
                <img src="{{ asset('bundles/main/img/sponsor-1.png') }}" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="{{ asset('bundles/main/img/sponsor-2.png') }}" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="{{ asset('bundles/main/img/sponsor-3.png') }}" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="{{ asset('bundles/main/img/sponsor-4.png') }}" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="{{ asset('bundles/main/img/sponsor-1.png') }}" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="{{ asset('bundles/main/img/sponsor-2.png') }}" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="{{ asset('bundles/main/img/sponsor-3.png') }}" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="{{ asset('bundles/main/img/sponsor-4.png') }}" alt="sponsor-image">
            </li>
        </ul>
    </div>
</div><!-- ./sponsor_section -->

<section id="subscribe" class="widget_section padding">
    <div class="container">
        <div class="col-md-4 col-xs-6 xs-padding">
            <div class="footer_widget">
                <h3 class="text-white">Contacts</h3>
                <p>ADRESSE: Z.I. Chotrana II B.P. 160
                    Pôle Technologique El Ghazela - Ariana 2083
                    <br>Email: digiminds@esprit.tn</p>
                <ul class="widget_social">
                    <li><a href="#"><i class="social_facebook"></i></a></li>
                    <li><a href="#"><i class="social_twitter"></i></a></li>
                    <li><a href="#"><i class="social_googleplus"></i></a></li>
                    <li><a href="#"><i class="social_instagram"></i></a></li>
                    <li><a href="#"><i class="social_linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-xs-6 xs-padding">
            <div class="footer_widget">
                <h3 class="text-white">Tunisie Bons Plans</h3>
                <ul class="widget_social">
                    <li><a href="#">A propos</a></li><br>
                    <li><a href="#">Publicité/ Annonceurs</a></li><br>
                    <li><a href="#">Etablissements/ Propriétaire</a></li><br>
                    <li><a href="#">Mentions légales</a></li>

                </ul>

            </div>
        </div>
        <div class="col-md-4 col-xs-12 xs-padding">
            <div class="footer_widget">
                <h4 class="text-white">Newsletter</h4>
                <div class="subscribe_form">
                    <form action="#" class="subscribe_form">
                        <input type="email" name="email" id="subs-email" class="form_input" placeholder="Email Address...">
                        <button type="submit" class="submit">S'inscrire</button>
                        <div class="clearfix"></div>
                        <div id="subscribe-result">
                            <p class="subscription-success"></p>
                            <p class="subscription-error"></p>
                        </div>
                    </form>
                    <p class="align-left">Vous recevrez régulièrement toutes nos actualités sur votre boîte de réception</p>

                </div><!-- Subscribe Form -->
            </div>
        </div>
    </div>
</section><!-- /.widget_section -->

<footer class="footer_section">
    <div class="container">
        <div class="col-xs-6 xs-padding">
            <div class="copyright">&copy; 2018 Bons Plans powered by DigiMinds</div>
        </div>
        <div class="col-xs-6 xs-padding">
            <ul class="footer_social">
                <li><a href="#">Orders</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Passer une réclamation</a></li>
            </ul>
        </div>
    </div>
</footer><!-- /.footer_section -->

<a data-scroll href="#header" id="scroll-to-top"><i class="arrow_up"></i></a>

<!-- jQuery Lib -->
<script src="{{ asset('bundles/main/js/vendor/jquery-1.12.4.min.js') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ asset('bundles/main/js/vendor/bootstrap.min.js') }}"></script>
<!-- Imagesloaded JS -->
<script src="{{ asset('bundles/main/js/vendor/imagesloaded.pkgd.min.js') }}"></script>
<!-- OWL-Carousel JS -->
<script src="{{ asset('bundles/main/js/vendor/owl.carousel.min.js') }}"></script>
<!-- isotope JS -->
<script src="{{ asset('bundles/main/js/vendor/jquery.isotope.v3.0.2.js') }}"></script>
<!-- Smooth Scroll JS -->
<script src="{{ asset('bundles/main/js/vendor/smooth-scroll.min.js') }}"></script>
<!-- venobox JS -->
<script src="{{ asset('bundles/main/js/vendor/venobox.min.js') }}"></script>
<!-- ajaxchimp JS -->
<script src="{{ asset('bundles/main/js/vendor/jquery.ajaxchimp.min.js') }}"></script>
<!-- Slick Nav JS -->
<script src="{{ asset('bundles/main/js/vendor/jquery.slicknav.min.js') }}"></script>
<!-- Contact JS -->
<script src="{{ asset('bundles/main/js/contact.js') }}"></script>
<!-- Main JS -->
<script src="{{ asset('bundles/main/js/main.js') }}"></script>

</body>

<!-- Mirrored from wowthemez.com/templates/hangout/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Feb 2018 22:50:36 GMT -->
</html>
