{% extends 'baseAdmin.html.twig' %}

{% block Afficher_Evenement_ParId_etab %}
    <section id="main-content" xmlns="http://www.w3.org/1999/html">
        <section class="wrapper">
            <!-- page start-->
            {% for even in even %}
            <div class="row">

                <aside class="profile-nav col-lg-3">
                    <section class="panel">
                        <div class="user-heading round">
                            <h1><strong>{{ even.nom }}</strong></h1>
                        </div>

                        <ul class="nav nav-pills nav-stacked">

                            <li><a href="{{ path('Supprimer_Evenement_Admin',{'id':even.id}) }}"> <i class="fa fa-calendar"></i> Supprimer </a></li>

                        </ul>
                    </section>
                </aside>

                <aside class="profile-info col-lg-9">
                    <section class="panel">

                        <div class="panel-body bio-graph-info">
                            <div class="row">

                                <div class="bio-row">
                                    <p><span><strong><i class="fa fa-home"></i> Adresse </strong></span>: {{even.etablissement.nom  }} , adresse: {{even.etablissement.adresse  }}</p>
                                </div>

                                <div class="bio-row">
                                    <p><span><strong> Personnes qui vont assister: </strong></span>: {{even.nbr_personnes  }}</p>
                                </div>
                                <div class="bio-row">
                                    <p><span><strong> Personnes intéressées: </strong></span>: {{even.interesses  }}</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
                    <br><br><br><br>

            </div>
            {% endfor %}
            <!-- page end-->
        </section>
    </section>

{% endblock %}

