{% extends 'Base.html.twig' %}

{% if is_granted("ROLE_USER") %}
            {% block user %}
                <li><a href="{{ path('fos_user_profile_show') }}">User</a></li>
            {% endblock %}
{% endif %}

{% block layoutfront %}
<section class="slider_section">
    <ul id="main-slider" class="owl-carousel main_slider">
        <li class="main_slide" style="background-image: url({{ asset('bundles/main/img/slide-1.jpg') }});">
            <div class="container">
                <div class="display-table">
                    <div class="table-cell">
                        <div class="slider_content align-center">

                            <h1 class="text-white">Partagez vos expériences</h1>
                            <p class="text-white">Connectez-vous pour découvrir des endroits que tes amis et experts apprécient</p>
                            <div class="btn_group">
                                <a href="#" class="default_btn">S'inscrire</a>
                                <a href="#" class="default_btn">Se connecter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="main_slide" style="background-image: url({{ asset('bundles/main/img/slide-2.jpg') }})">
            <div class="container">
                <div class="display-table">
                    <div class="table-cell">
                        <div class="slider_content align-center">

                            <h1 class="text-white">A la recherche d'une nouvelle expérience ?</h1>
                            <p class="text-white">Trouver les meilleurs endroits pour manger, boire un café, faire les magasins....</p>
                            <div class="btn_group">
                                <a href="#" class="default_btn">A découvrir</a>
                                <a href="#" class="default_btn">Réservation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="main_slide" style="background-image: url({{ asset('bundles/main/img/slide-3.jpg') }});">
            <div class="container">
                <div class="display-table">
                    <div class="table-cell">
                        <div class="slider_content align-center">

                            <h1 class="text-white">Rester informés!</h1>
                            <p class="text-white">Actus, bons plans, sorties : Le meilleur de la Tunisie dans votre boîte mail</p>
                            <div class="btn_group">
                                <a href="#" class="default_btn">A découvrir</a>
                                <a href="#" class="default_btn">Réservation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section><!-- /.slider_section -->

<section id="about" class="about_section bg-grey bd-bottom padding">
    <div class="container">
        <div class="col-sm-6">
            <div class="about_content">
                <h2>Faites vous aider dans votre choix</h2>
                <p>Vous hésitez? Faites confiance aux notes et commentaires des internautes!</p>

                <img src="{{ asset('bundles/main/img/digi.png') }}" alt="">
            </div>
        </div>
        <div class="col-sm-6 hidden-xs">
            <div class="about_img">
                <img src="{{ asset('bundles/main/img/about-bg-1.jpg') }}" alt="idea-images" class="about_img_1">
                <img src="{{ asset('bundles/main/img/about-bg-2.jpg') }}" alt="idea-images" class="about_img_2">
            </div>
        </div>
    </div>
</section> <!--/.about_section -->





<section id="gallery" class="gallery_section bg-grey padding">
    <div class="container">
        <div class="section_heading align-center mb-40">
            <h2>Tous les bons plans pour sortir en Tunisie</h2>
            <p>L'agenda des événements : les soirées, concerts,
                expositions, spectacles pour vos idées de sorties à Tunis. Le Guide, les adresses pour sortir à Tunis :
                un bar, un restaurant,
                un musée, un théâtre, une boutique sympa...</p>
        </div><!-- /.section_heading -->
    </div>
    <div class="container-fluid no-padding">
        <ul class="gallery_items">
            <li class="col-sm-4 col-xs-6 single_item branding">
                <figure class="gallery_item">
                    <img src="{{ asset('bundles/main/img/gallery-1.jpg') }}" alt="gallery Item">
                    <figcaption class="overlay">
                        <a href="{{ asset('bundles/main/img/gallery-1.jpg') }}" class="img_popup">
                            <div class="table-cell">
                                <h3>Evenements</h3>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </li>
            <li class="col-sm-4 col-xs-6 single_item photo">
                <figure class="gallery_item">
                    <img src="{{ asset('bundles/main/img/gallery-2.jpg') }}" alt="gallery Item">
                    <figcaption class="overlay">
                        <a href="{{ asset('bundles/main/img/gallery-2.jpg') }}" class="img_popup">
                            <div class="table-cell">
                                <h3>Bars</h3>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </li>
            <li class="col-sm-4 col-xs-6 single_item print branding">
                <figure class="gallery_item">
                    <img src="{{ asset('bundles/main/img/gallery-3.jpg') }}" alt="gallery Item">
                    <figcaption class="overlay">
                        <a href="{{ asset('bundles/main/img/gallery-3.jpg') }}" class="img_popup">
                            <div class="table-cell">
                                <h3>Coffee Shops</h3>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </li>
            <li class="col-sm-4 col-xs-6 single_item website photo">
                <figure class="gallery_item">
                    <img src="{{ asset('bundles/main/img/gallery-4.jpg') }}" alt="gallery Item">
                    <figcaption class="overlay">
                        <a href="{{ asset('bundles/main/img/gallery-4.jpg') }}" class="img_popup">
                            <div class="table-cell">
                                <h3>Restaurants</h3>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </li>
            <li class="col-sm-4 col-xs-6 single_item print photo">
                <figure class="gallery_item">
                    <img src="{{ asset('bundles/main/img/gallery-5.jpg') }}" alt="gallery Item">
                    <figcaption class="overlay">
                        <a href="{{ asset('bundles/main/img/gallery-5.jpg') }}" class="img_popup">
                            <div class="table-cell">
                                <h3>Hotels</h3>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </li>
            <li class="col-sm-4 col-xs-6 single_item branding website">
                <figure class="gallery_item">
                    <img src="{{ asset('bundles/main/img/gallery-6.jpg') }}" alt="gallery Item">
                    <figcaption class="overlay">
                        <a href="{{ asset('bundles/main/img/gallery-6.jpg') }}" class="img_popup">
                            <div class="table-cell">
                                <h3>Shops</h3>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </li>
        </ul><!-- /.gallery_items -->
    </div>
</section><!-- /.gallery_section -->

<section id="reviews" class="testimonial_section padding">
    <div class="container">
        <ul id="testimonial_carousel" class="testimonial_items owl-carousel">
            <li class="testimonial_item">
                <p>Bons plans Tunisie : sortir sans dépenser un sou, c'est possible ! <br>De nombreux lieux proposent des activités gratuites, variées et originales </p>
                <h4 class="text-white"> dîners, spectacles, sports…</h4>
            </li>
            <li class="testimonial_item">
                <p>Tous les bons plans pour préparer son voyage en Tunisie : </p>
                <h4 class="text-white"> shopping, visites, restos, hébergement, transports, comédie musicale, sport et loisirs.</h4>
            </li>
            <li class="testimonial_item">
                <p>Où faire les meilleures affaires et quelles sont les boutiques les plus cools vers chez vous ? Dans cette catégorie on parle de shopping </p>
                <h4 class="text-white">mais aussi de shopping et encore de shopping !</h4>
            </li>
        </ul>
    </div>
</section><!-- /.testimonial_section -->

<section id="reservation" class="reservation_section bg-grey">
    <div class="container padding">
        <div class="col-sm-8 col-sm-offset-2 align-center">
            <div class="reserv_form">
                <div class="section_heading mb-40">
                    <h2>Passer vos réservations</h2>
                    <p>Retrouvez les meilleures offres
                        : réduction de dernière minute, bons plans et promos vacances avec l'Officiel des Vacances !</p>
                </div>

            </div>
        </div>
    </div>
</section><!-- /.reservation_Section -->

<section id="news" class="blog_section bd-bottom padding">
    <div class="container">
        <div class="section_heading align-center mb-40">
            <h2>Espace Forum</h2>
            <p>Discuter, échanger et partager avec la communauté vos avis sur Bons Plans Forum</p>
        </div><!-- /.section_heading -->
        <div class="col-sm-4 col-xs-6 xs-padding">
            <div class="blog_post">

                <div class="blog_content">
                    <h4>Au sujet de l'hotel caribbean world borj cedria</h4>
                    <P>Je vais me rendre à l'hotel caribbean world borj cedria a tunis du 21 juillet au 4 aout 2008 avec mon mari et mes 2 enfants de 16 ans et 7 ans.
                        Qui a été recemment dans cet hotel pour me donner des renseignements?</P>
                    <span class="post_meta"><strong>Internaute:</strong>Donia Mani</span>
                    <a href="#" class="default_btn">Voir</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6 xs-padding">
            <div class="blog_post">

                <div class="blog_content">
                    <h4>Sujet: Les horaires du Tunisia mall</h4>
                    <P>Pourquoi le mall ferme à 21h ?</P>
                    <span class="post_meta"><strong>Internaute:</strong> Ons Ben Othmen</span>
                    <a href="#" class="default_btn">Voir</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6 xs-padding">
            <div class="blog_post">

                <div class="blog_content">
                    <h4>Sujet: KFC Tunis</h4>
                    <P>Une attente interminable pour une qualité de poulet bien moindre que dans les KFC des autres pays. Je déconseille</P>
                    <span class="post_meta"><strong>Internaute:</strong>Omar Jarray</span>
                    <a href="#" class="default_btn">Voir</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- /.blog_section -->
{% endblock %}


