{% extends 'Base.html.twig' %}

{% block login %}
    <head>
        <title>Login V10</title>

        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="{{ asset('bundles/main/Login/images/icons/favicon.ico') }}"/>
        <!--===============================================================================================-->

        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/main/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/main/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/main/Login/vendor/animate/animate.css')}}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/main/Login/vendor/css-hamburgers/hamburgers.min.css')}}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/main/Login/vendor/animsition/css/animsition.min.css')}}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/main/Login/vendor/select2/select2.min.css')}}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/main/Login/vendor/daterangepicker/daterangepicker.css')}}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/main/Login/css/util.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/main/Login/css/main.css')}}">
    </head>

    <body>


        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>

            {% else %}
                <div class="limiter">
                    <div class="container-login100">
                        <div class="wrap-login100 p-t-50 p-b-90">

                                <span class="login100-form-title p-b-51">
						        Login
					            </span>

                            <div>
                                {% block fos_user_content %}
                                {% endblock fos_user_content %}
                            </div>

                            <form class="login100-form validate-form flex-sb flex-w">
                                <div class="flex-sb-m w-full p-t-3 p-b-24">
                                    <div class="contact100-form-checkbox">
                                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                        <label class="label-checkbox100" for="ckb1">
                                            Remember me
                                        </label>
                                    </div>

                                    <div>
                                        <a href="#" class="txt1">
                                            Forgot?
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>


            <script src="{{ asset('bundles/main/Login/vendor/jquery/jquery-3.2.1.min.js')}}"></script>

            <script src="{{ asset('bundles/main/Login/vendor/animsition/js/animsition.min.js')}}"></script>

            <script src="{{ asset('bundles/main/Login/vendor/bootstrap/js/popper.js')}}"></script>
            <script src="{{ asset('bundles/main/Login/vendor/bootstrap/js/bootstrap.min.js')}}"></script>

            <script src="{{ asset('bundles/main/Login/vendor/select2/select2.min.js')}}"></script>

            <script src="{{ asset('bundles/main/Login/vendor/daterangepicker/moment.min.js')}}"></script>
            <script src="{{ asset('bundles/main/Login/vendor/daterangepicker/daterangepicker.js')}}"></script>

            <script src="{{ asset('bundles/main/Login/vendor/countdowntime/countdowntime.js')}}"></script>

            <script src="{{ asset('bundles/main/Login/js/main.js')}}"></script> -->

    </body>
</html>
{% endblock %}
