{% extends 'Base.html.twig' %}

{% block AfficherEtablissement %}
    <section id="reservation" class="reservation_section bg-grey">
    <div class="container padding">
    <div class="col-sm-10 col-sm-offset-1 align-left">
    <div class="reserv_form">
    <div class="section_heading mb-40">
<div class="fos_user_user_show">
    <div>
        <p><strong>Nom:</strong> {{ (eta.nom) }}</p>
    </div>
    <div>
        <p><strong>Adresse:</strong> {{ (eta.adresse) }}</p>
    </div>
    <div>
        <p><strong>Description:</strong> {{ (eta.description) }}</p>
    </div>

    <div>
        <a href="{{ path('supprimer_etablissement',{'id':eta.id}) }}" class="default_btn">Supprimer</a>
        <a href="{{ path('modifier_etablissement',{'id':eta.id}) }} " class="default_btn">Modifier</a>
        <a href="{{ path('add_event',{'id':eta.id}) }} " class="default_btn">Ajouter un événement</a>
        <a href="{{ path('add_offre',{'id':eta.id}) }} " class="default_btn">Ajouter un offre</a>
    </div>
</div>
    </div>
    </div>
    </div>
    </div>
    </section>
{% endblock %}